{
  "extends": [
    "react-app",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "flowtype",
    "react",
    "prettier",
    "import",
    "jsx-a11y"
  ]
}