.label {
    line-height: 2em;
    width: 90%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 5px 5px;
}

.hour-container {
    display: flex;
    flex-direction: column;
}

.hour {
    padding: 0 5px;
    align-self: flex-start;
}