.day-container {
    padding: 5px 5px;
    height: 600px;
}
.rbc-container {
    height: 500px;
}
.event-container {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}

.label {
    text-align: right;
    padding-right: 20%;
}
.hour {
    padding: 0 10px;
}